<div class="center jumbotron">
  <h1> About us</h1>

  <p>
    <strong>Group 25 - Ingeniería de Software</strong>
  </p>
  <p><strong>Develop by: </strong></p>
  <p>Juan Francisco Campos </p>
  <p>Marcelo Iturriaga </p>
  <p>Tomás Navarrete </p>


</div>
