<div class="center jumbotron">
  <h1>Contact</h1>

  <p>Juan Francisco Campos - jfcampos1@uc.cl</p>
  <p>Marcelo Iturriaga     - muiturriaga@uc.cl</p>
  <p>Tomás Navarrete       - tanavarrete@uc.cl</p>


</div>
