<div class="row">
  <div class="col-md-6 col-md-offset-3 border_forms">
    <h1>Editing Foro</h1>

    <%= render 'form', foro: @foro %>

    <%= link_to 'Back', root_path, class: "btn btn-info" %>
  </div>
</div>
