<div>
  <h4> Total rank </h4>
  <% stars = 0 %>
  <% total_votes = 0 %>
  <% @post.postratings.each do |rating| %>
    <% stars += rating.star %>
    <% total_votes += 1 %>
  <% end %>
  <% if total_votes == 0 %>
    <% number = 0 %>
  <% else %>
    <% number = stars/total_votes %>
  <% end %>
  <ul class="rating <%= starstring(number)%>"></ul>
</div>
